/* Propiedades de steps */
.step-item {
  @apply relative flex flex-col justify-center items-center w-36;
}

.step-item:not(:first-child)::before {
  @apply content-[''] bg-slate-200 absolute w-full h-[3px] right-2/4 top-3/4 -translate-y-3/4;
}

.step {
  @apply w-10 h-10 flex items-center justify-center z-10 relative bg-slate-700 rounded-full font-semibold text-white;
}

.active .step {
  @apply border-2 border-sky-600 bg-white text-sky-600;
}

.complete .step {
  @apply bg-green-600;
}

.complete p {
  @apply text-gray-400;
}

.btn {
  @apply bg-sky-600 hover:bg-sky-500 text-gray-100 font-medium px-7 py-1 rounded-xl;
}

.btn-prev {
  @apply bg-white text-sky-600 border-2 border-sky-600 font-medium px-7 py-1 rounded-xl;
}

.complete:not(:first-child)::before,
.active:not(:first-child)::before {
  @apply bg-green-600;
}

/* Propiedades del formulario (step 1)*/
input {
  @apply border-2 border-black rounded-md p-1;
}
.collapse-step-1 {
  transition: height 0.2s;
  height: 0;
  overflow: hidden;
}

.expand-step-1 {
  transition: height 0.2s;
  height: 230px;
}

.expand-step-2 {
  transition: height 0.2s;
  height: 120px;
}

.animation-arrow {
  transition: all 0.2s;
}

input:disabled {
  @apply border-gray-200;
}

.container-layout {
  @apply w-full py-3 bg-gray-200 px-3 cursor-pointer font-bold text-xl rounded-t-lg;
}

/* Propiedades step 2 */

.card {
  transition: all 0.2s;
  @apply cursor-pointer flex flex-col items-center border-2 py-10 border-black rounded-xl w-64 hover:shadow-2xl hover:scale-105;
}

.card-selected {
  @apply shadow-2xl scale-105;
}

ul li::before {
  content: '\2022';
  font-weight: bold;
  display: inline-block;
  width: 1rem;
  margin-left: -1em;
  @apply text-sky-500 text-[24px];
}

/* Propiedades SignDocument step 3 */
.container-firma {
  @apply flex flex-col items-center mt-10 py-10 border-2 rounded-3xl border-gray-600;
}

/* Propiedades FinishPayment step 4 */
